@model WebPuntoVenta.Data.Models.Ocasiones 

<div class="row">
    <div class="col s12">
        <br />
        <form id="formAttach" class="col s12">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="input-field col s8">
                    <label asp-for="Ocasion"></label>
                    <input asp-for="Ocasion" />
                </div>
            </div>
        </form>     
    </div>
</div> 